.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__button {
    width: 400px;
    aspect-ratio: 5;
    border-radius: 45px;
    margin-inline: 10px;
    font-size: 35px;
    padding: 10px;
    cursor: pointer;
}