.cell {
  height: 70px;
  width: 70px;
  border: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 34px;
  cursor: pointer;
}

.cell_bold-top-border {
  border-top: 3px solid black;
}

.cell_bold-left-border {
  border-left: 3px solid black;
}

.cell_text {
  flex: 1;
  text-align: center;
  font-size: 40px;
}